.container {
  display: flex;

  .menu {
    background-color: #00a2f9;
    padding: 100px 0 0 100px;
    flex-direction: column;
    min-height: 100vh;
    display: flex;

    a {
      padding: 20px 60px 20px 15px;
      font-family: FontAwesome;
      text-decoration: none;
      color: #fff;

      span:first-of-type {
        margin-right: 20px;
      }
    }
  }

  .content {
    width: calc(100% - 440px);
    box-sizing: unset;
    padding: 90px;
  }
}
